{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    Public Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
{% include "nav.html" %}
<div class="content">
  {% if request.endpoint != 'profile' %}
  <div class="tweet-box">
    <form method="POST" action="{{ url_for('add_tweet') }}">
      <textarea name="tweet" placeholder="Apa yang anda pikirkan saat ini?"></textarea>
      <input type="submit" value="Tweet" class="btn btn-tweet" />
    </form>
  </div>
  {% endif %}
    {% if request.endpoint == 'profile' %}
    <div class="action">
      <div class="profile">
        <div class="fullname">{{ user_data.fullname }}</div>
        <div class="username">@{{ user_data.username }}</div>
      </div>
      {% if 'user_id' not in session %}
        {% if followed %}
        <a href="{{ url_for('unfollow', username=user_data.username) }}" class="btn btn-unfollow">Unfollow</a>
        {% else %}
        <a href="{{ url_for('follow', username=user_data.username) }}" class="btn btn-follow">
        Follow</a>
        {% endif %}
      {% endif %}
    </div>
    {% endif %}
  <div class="timeline">
    <h2 class="title">Timeline</h2>
    {% for tweet in tweets %}
    <div class="tweet-item">
      <div class="user">
        <a class="fullname" href="#">{{ tweet.username }}</a><span class="username">@{{ tweet.username }}</span>
      </div>
      <div class="tweet">{{ tweet.tweet }}</div>
      <div class="pub_date">{{ tweet.pub_date }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}